<h2><%= @appointment.readable_time %></h2>
<hr>

<h3>Patient:</h3>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>

<h3>Doctor:</h3>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
